<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero voluptate minima. Cupiditate incidunt quae
      perferendis, a explicabo laboriosam consequatur dolores odit corrupti odio tempora fuga, ea laudantium. Asperiores
      aperiam incidunt tenetur vitae cupiditate odit aliquid natus ab voluptates pariatur.</p>
  </div>
</div>