<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nostrum suscipit repudiandae iure quisquam officiis
    qui ipsa! Officiis ipsum quam harum? Odit quidem nisi, dolor vel officiis quaerat debitis! Fugit.</p>
    <a href="/" class="btn btn-primary btn-lg">App</a>
</div>